BODY {
    margin: 0;
    font: 16px/1.75 Trebuchet Ms, Arial, sans-serif;
    color: black;
}

H2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
}

.wrapper {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 30px;
    padding: 10px;
    border: 2px solid #CCC;
    border-radius: 3px;
    flex-basis: 100%;
    font: inherit;
    transition: all .25s;
}

.input:focus {
    outline: none;
    border-color: #333;
}

.buttons {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    display: block;
    padding: 5px 10px;
    background: #333;
    border: #000;
    border-radius: 3px;
    font: inherit;
    color: #FFF;
    cursor: pointer;
}

.button--subscribed {
    background: crimson;
}

.output {
    max-width: 100%;
    height: 20vh;
    padding: 10px;
    border: 2px solid #CCC;
    border-radius: 3px;
    font: inherit;
}

.output--subscribed {
    border-color: orangered;
}
